@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: salmon;
}

header > h1{
    text-align: center;
    font-size: 48px;
}

main > h3{
    text-align: center;
    font-size: 32px;
}

.card-container{
    padding: 10px;
}

.column{
    display: flex;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.card-body{
    border-radius: 0 0 10px 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

.card-date{
    color: gray;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

.position-sticky{
    position: sticky;
    top: 0;
}

.mb-0{
    margin-bottom: 0;
}

.mt-0{
    margin-top: 0;
}

.mx-0{
    margin-right: 0;
    margin-left: 0;
}

.my-0{
    margin-top: 0;
    margin-bottom: 0;
}

.mx-1{
    margin-left: .5rem;
    margin-right: .5rem;
}

.my-1{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mb-1{
    margin-bottom: 1 rem;
}

.p-1{
    padding: .5rem;
}

.p-2{
    padding: 1rem;
}

.fs-large{
    font-size: large;
}

.fs-larger{
    font-size: x-large;
}


