<h2>Menu</h2>
<div class="menu-list">
    <div class="card" *ngFor="let item of items">
        <div class="card-img">
            <img src="{{ item.img }}" alt="menu">
        </div>
        <div class="card-body">
            <h4>{{ item.name }}</h4>
            <p>{{ item.price }}</p>  
        </div>
        <div class="card-button">
            <a href="/detail/{{ item.id }}" class="button-detail">Detail item</a>
            <button class="button-payment" (click)="onAddItem.emit(item)">Add to payment</button>
        </div>
    </div>
</div>
