*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    padding-top: 20px;
}

.menu-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.card{
    border: 1px solid gray;
    border-top: 5px solid;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}


img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body{
    flex:1;
    padding: 7px;
}