h1{
    margin-bottom: 50px;
}

main{
    display: flex;
    width: 95%;
    margin: auto;
}

app-menu{
    flex: 2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5),
        -3px -3px 3px rgba(0, 0, 0, .5);
    margin-right: 20px;
}

app-payment{
    flex: 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5),
        -3px -3px 3px rgba(0, 0, 0, .5);
}