<p>Ini Halaman Home</p>
<!-- <p>{{ users[0].name }}</p> -->
<div class="user-list">
    <div class="card" *ngFor="let user of users | async">
        <div class="card-body">
            <h2>{{ user.name }}, {{ user.age }} years old, {{ user.gender }}</h2>
            <h3>{{ user.position }}</h3>
            <h4>{{ user.email }}</h4>
            <h4>{{ user.isMarried }} married</h4>   
        </div>
        <div class="card-footer">
            <p>{{ user.addresses }}</p>
            <!-- <h4>{{ user.addresses.address }}, {{ user.addresses.city }}, 
                {{ user.addresses.zipCode }}, {{ user.addresses.country }}
            </h4> -->
        </div>
    </div>
</div>

