*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    padding-top: 20px;
}

.payment-list{
    display: flex;
    padding: 8px;
}

.payment-title{
    flex: 1;
}

.payment-price{
    flex: 1;
}